main{
    padding-bottom: 100px;
}
#purpose-options-holder{
    display: flex;
    flex-direction: column;
}
#formHolder{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#portraitHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}
#portraitHolder img{
    outline: 3rem solid var(--main-txt);
    height: 70%;
}
form{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 80%;
}
.form-question{
    display: flex;
    flex-direction: column;
}
input[type=text], input[type=number], input[type=email], textarea{
    font-size: 1rem;
    line-height: 1.5;
    font-family: "IBM Plex Serif", serif;
    background-color: var(--main-txt);
    color: var(--body-bg);
    border: 2px solid var(--body-bg);
    outline: none;
}
input:is(:-webkit-autofill, :autofill, -internal-autofill-selected){
    background-color: var(--light-bg)!important;
    color: var(--body-bg)!important;
    /* tried getting autofill styles worked out, but it's not working for whatever reason. */
}
input:active, input:focus{
    border: solid 2px var(--header-txt);
}

@media screen and (max-width: 800px){
    #formHolder{
        grid-template-columns: 1fr;
    }
}