*, *::before, *::after{
    box-sizing: border-box;
}
:root{
    --header-bg: #2C273E;
    --header-txt: #CC802A;
    --body-bg: #123524;
    --main-bg: #738B7F;
    --main-txt: #FDF3F3;
    --light-bg: #BDACAC;
}
body{
    background-color: var(--body-bg);
    font-family: "IBM Plex Serif", serif;
    font-size: 24px;
    line-height: 1.5;
}
header{
    background-color: var(--header-bg);
    color: var(--header-txt);
    position: sticky;
    top: 0;
    z-index: 99;
}
#logo{
    min-width: 50px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav a{
    font-family: "Italiana", sans-serif;
    color: var(--header-txt);
    font-size: 64px;
}
h1{
  font-family: "Italiana", sans-serif;
  font-size: 64px;

}
h2{
  font-family: "Italiana", sans-serif;
  font-size: 48px;
}
#titles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
b{
    font-weight: 800;
}
#wrapper{
    max-width: 1400px;
    margin: auto;
    color: var(--main-txt);
}
main{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 0 50px 0;
    background-color: var(--main-bg);
}
.border-image-left, .border-image-right{
    background-image: url('/img/frameside-L.png');
    background-repeat: repeat-y;
    min-width: 28px;
    height: 100%;
    position: absolute;
    margin-top: -50px;
    z-index: 9;
}
.border-image-right{
    background-image: url('/img/frameside-R.png');
    right: 0;
}
.button{
    display: block;
    padding: 0.5rem 1rem;
    color: var(--main-txt);
    text-decoration: none;
    width: fit-content;
}
/* .button{
    border-radius: 20px;
    -webkit-box-shadow: 3px -3px 15px 5px var(--body-bg); 
    box-shadow: 3px -3px 15px 5px var(--body-bg);
} */
.button, button {
  padding: 1rem 1.5rem;
  border: 1px solid rgba(253, 243, 243, 0.11);
  background: rgba(253, 243, 243, 0.03);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 50px;
  color: var(--main-txt);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  line-height: 1;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 30px 5px rgba(18, 53, 36, 0.47);
  margin: 1rem;
}

.button:hover, button:hover {
  background: rgba(255, 255, 255, 0.16);
  transform: translateY(-2px);
  box-shadow: 0 12px 38px 0 rgba(18, 53, 36, 0.67);
}

.button:active, button:active {
  transform: translateY(0);
  box-shadow: 0 4px 18px 0 rgba(31, 38, 135, 0.3);
}
.btn-orange{
    background-color: rgba(204, 128, 42, 0.3);
  box-shadow: 0 8px 30px 5px rgba(204, 128, 42, 0.47);
}
.btn-orange:hover{
    background-color: rgba(204, 128, 42, 0.6);
    box-shadow: 0 8px 30px 5px rgba(204, 128, 42, 0.67);

}
.blur-footer-reveal{
    margin-bottom: 50px;
    backdrop-filter: blur(1px);
    display: block;
    width: 100%;
    height: 100px;
    background-color: rgba(115, 139, 127, 1);
    background: -webkit-linear-gradient(180deg,rgba(115, 139, 127, 1) 0%, rgba(115, 139, 127, 0) 100%);
    background: -moz-linear-gradient(180deg,rgba(115, 139, 127, 1) 0%, rgba(115, 139, 127, 0) 100%);
    background: linear-gradient(180deg, rgba(115, 139, 127, 1) 0%, rgba(115, 139, 127, 0) 100%);
    z-index: 1;
}
footer{
    z-index: -1;
    position: fixed;
    bottom: 0;
    left: 50%;
    min-width: 1400px;
    padding: 1rem;
    transform: translateX(-50%);
    background-color: var(--main-txt);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    min-height: 300px;
    background: #FDF3F3;
}
footer a{
    color: var(--body-bg);
    text-decoration: none;
}
@media screen and (max-width: 800px){
    nav a{
        font-size: 32px;
    }
}