main{
    padding: 1rem;
    gap: 1rem;
}
#productSelection{
    background-color: var(--main-txt);
    display: flex;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-around;
}
#productSelection a{
    text-decoration: none;
    color: var(--body-bg);
}
#productSelection a.active{
    text-decoration: underline;
}
#gallery{
    width: 100%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;

}
.gallery-item{
    width: 80%;
    margin: 0 auto;
    background-color: var(--main-txt);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--body-bg);
    padding: 1rem;
    gap: 1rem;
    transition: scale 200ms ease;
}
.img-label{
    font-family: "Italiana", sans-serif;
    font-size: 32px;
    text-align: center;
}
.button{
    width: 100%;
    text-align: center;
    transition: scale 200ms ease;
}
.inverted{
    background-color: var(--light-bg);
    color: var(--body-bg);
    border: solid 2px var(--body-bg);
}
.hidden{
    scale: 0;
}
.gallery-item:hover{
    scale: 1.1;
}
.gallery-item:hover .hover-show{
    scale: 1;
}
